<div class="container-fluid" *ngIf="showHeader">
  <nav class="navbar navbar-expand-lg  bg ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">all compo
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link active b" routerLink="home">Home</a>
        </li>
        <li>
          <a class="nav-link  b" routerLink="motor">motor_ins</a>
        </li>
        <li>
          <a class="nav-link b" (click)=" navigetiohealth()">health_ins</a>
        </li>
        <li>
        <li>
          <a class="nav-link b" routerLink="practice1">practice1</a>
        </li>
        <li>
          <a class="nav-link b" routerLink="practice2">practice2</a>
        </li>
        <li>
          <a class="nav-link b" routerLink="sme/subject">sub</a>
        </li>

        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Storage</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="local_s">Local_s</a></li>
            <li> <a class="dropdown-item" routerLink="session_s">Session_s</a></li>
            <li> <a class="dropdown-item" routerLink="my_M/demo">demo</a></li>
            <li> <a class="dropdown-item" routerLink="my_M/demo1">demo1</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Inter-Comp</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="parent">parent</a></li>
            <li> <a class="dropdown-item" routerLink="parent2"> parent2</a></li>
            <li> <a class="dropdown-item" routerLink="Compo-A"> Compo-A</a></li>
            <li> <a class="dropdown-item" routerLink="Compo-B">Compo-B</a></li>
            <li> <a class="dropdown-item" routerLink="intercepter">intercepter</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">motor-m</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="motor_M/home">Motor Home</a></li>
            <li> <a class="dropdown-item" routerLink="motor_M/bike">Bike</a></li>
            <li> <a class="dropdown-item" routerLink="motor_M/car">Car</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">travel-m</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="travel_M/gold">gold </a></li>
            <li> <a class="dropdown-item" routerLink="travel_M/single">single</a></li>
            <li> <a class="dropdown-item" routerLink="travel_M/student">student</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Guards</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="crpr">corporate</a></li>
            <li> <a class="dropdown-item" routerLink="sme">sme</a></li>
            <li> <a class="dropdown-item" routerLink="sme/marine">marine</a></li>
            <li> <a class="dropdown-item" routerLink="fire">Fire</a></li>
            <li> <a class="dropdown-item" routerLink="gaurds_m/gaurd_1">gaurd 1</a></li>
            <li> <a class="dropdown-item" routerLink="gaurds_m/gaurd_2">gaurd 2</a></li>
            <li> <a class="dropdown-item" routerLink="gaurds_m/gaurd_2/gaurd_3">gaurd 3</a></li>
            <li> <a class="dropdown-item" routerLink="gaurds_m/gaurd_2/gaurd_4">gaurd 4</a></li>
            <li> <a class="dropdown-item" routerLink="gaurds_m/gaurd_5">gaurd 5</a></li>
            <li> <a class="dropdown-item" routerLink="gaurds_m/login">login</a></li>


          </ul>
        </li>

        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">library compo</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="chart/Material">angular-material</a></li>
            <li> <a class="dropdown-item" routerLink="chart/prime_ng">prime ng</a></li>
            <li> <a class="dropdown-item" routerLink="chart">chart.ja</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">misc</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="misc_parent">misc parent</a></li>
            <li> <a class="dropdown-item" routerLink="misc_child">misc child</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">all-css</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="scss">scss</a></li>
            <li> <a class="dropdown-item" routerLink="sass">sass</a></li>
            <li> <a class="dropdown-item" routerLink="less">less</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown b">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">angular 16 F</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="signals">signals</a></li>
            <li> <a class="dropdown-item" routerLink="standalone">standalone</a></li>
          </ul>
        </li>
         

         <li>
          <a class="nav-link b" routerLink="ngrx">NGRX</a>
        </li>
        <li>
          <a class="nav-link b" routerLink="lgn">jwt</a>
        </li>


      </ul>
    </div>
    <div>
      <button class="button" (click)="logout()">logout</button>

    </div>
  </nav>
</div>




<!-- <app-signals></app-signals> -->
<!-- <app-standalone></app-standalone> -->
<router-outlet></router-outlet>
<!-- <app-login-a></app-login-a> -->

