<div class="container " style="height: 900px;">
    <p>scss-compo works!</p>


<div class="container-fulid parent ">
    test backround with scss
    <div class="row child">
        test nesting with scss
        <div class="row subchild">
            testing nested
        </div>
    </div>

</div>


<button class="button">test button </button>
<button class="button2">test button2 </button>
<button class="button3">test button3 </button>


<div class="card">
  <h2>scss function</h2>
  <p>This card is styled using a custom SCSS function.</p>
  <button>Click Me</button>
</div>

<p class="text-red">This text is red.</p>
<p class="text-green">This text is green.</p>
<p class="text-blue">This text is blue.</p>
</div>